
.profile-image-sizing {
    height: 130px;
    width: 130px;
}

.profile-image {
    width: 100%;
}

.card-scroll {
    overflow-y: auto;
}

.portfolio-card {
    width: 220px;
}

.portfolio-image-sizing {
    height: 220px;
    width: 220px;
}

.module-header {
    height: 25px;
    font-size: 17px;
    padding-top: 2px !important;
    text-align: center;
}

.menu-header {
    min-height: 25px !important;
    font-size: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

#name {
    text-align: end;
}

.modal-header {
    height: 0px;
    border: 0;
}

#popup-image {
    width: 100%
}