{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--suppress HtmlUnknownAttribute -->
    <meta name="google" value="notranslate">
    <title>Clippr</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--Clippr CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer_search.css' %}">
    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/stylist/stylist_profile.css' %}">#}

</head>
<body>
{% include 'customer/customerReal/headerBase.html' %}

<div class="row">

    <!--STYLIST LIST -->
    <div class="col-4">
        {% for stylist in stylist_list %}
            <div class="d-flex flex-row">
                <img src="{{ stylist.profile_picture.url }}" height="100px" width="100px">
                <div class="d-flex flex-column">
                    <div class="p-1"> {{ stylist.get_full_name }} </div>
                    {#                                        <div class="p-1">{{ stylist.biography }}</div>#}
                    <button name="{% url 'api:portfoliohaircut-list' %}?stylist_pk={{ stylist.pk }}" class="show-menu"
                            value="form{{ forloop.counter }}">
                        View page
                    </button>
                    <form class="form{{ forloop.counter }}" data-field1="{% url 'api:stylist-list' %}{{ stylist.pk }}/">
                    </form>

                </div>
            </div>
        {% endfor %}
    </div>

    <!--STYLIST PROFILE-->
    <div class="col-8" id="profile-preview">

    </div>
</div>


{% include 'stylist/stylistReal/footerBase.html' %}

{% include 'master_scripts.html' %}

{% include 'customer/customerReal/search/search_javascript.html' %}

{#<script src="{% static 'javascript/customer/customer_search.js' %}"></script>#}


</body>
</html>