{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clipper</title>
    <link rel="stylesheet" type="text/css" href="{% static 'clippr/customer.css' %}">
</head>
<body>

{% include 'customer/headerBase.html' %}

{% block main_content %}
{% endblock %}

{% include 'customer/footerBase.html' %}

<script src="{% static 'clippr/customer.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
        crossorigin="anonymous"></script>
</body>
</html>