{% extends 'customer/base.html' %}

{% block main_content %}
    Search bar to search for stylists!
    Stylist field displaying Chosen Stylist
    Location Field
    Date
    Haircuts that Stylist Offers -- (Each haircut should be paired with a price) //add tax and extraneous fees. Store
    TOTAL PRICE
    Haircut should also be tied to appointment.

    <form action="{% url 'customer:stylist_search' %}" method="get">
        <input type="search" placeholder="Search...." name="param"/> <br>
        <input type="submit" value="Stylist Search" name="SEARCH"/>
    </form>

    Chosen Stylist: {{ chosen_stylist.get_full_name }}

    <form action="{% url 'customer:create_appointment' %}" method="post"> {% csrf_token %}
        <label for="location">Location: </label>
        <input type="text" value="" name="location" id="location"/> <br>

        <label for="date">Date: </label>
        <input type="datetime-local" value="" name="date" id="date"/> <br>

        <input type="submit" value="Make new Appointment" name="CREATE"/>

    </form>


{% endblock %}