{% extends 'customer/base.html' %}

{% block main_content %}


    {#    <form action="{% url 'customer:create_appointment_menuMainChoice' %}" method="post"> {% csrf_token %}#}
    {#        <button id=short_cut value="short_cut" name="menu_main">Short Cut</button>#}
    {#        <button id=long_cut type="submit" value="long_cut" name="menu_main">Long Cut</button>#}
    {#    </form>#}
    {##}
    {#    <hr>#}
    {##}
    {#    {{ menu_main.name|default_if_none:"" }}#}

    <!-- REMOVING SEARCH FUNCTION FOR MVP -->
    {#    <form id=create_appointment_form action="{% url 'customer:stylist_search' %}" method="get">#}
    {#        <input type="search" placeholder="Search...." name="param"/> <br>#}
    {#        <input type="submit" value="Stylist Search" name="SEARCH"/>#}
    {#    </form>#}
    {#    Chosen Stylist: {{ chosen_stylist.get_full_name }}#}

    {% for stylist in stylist_list %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{{ stylist.stylist.stylist_picture.url }}" height="100px" width="100px">
                </div>
                <div class="col">
                    {{ stylist.get_full_name }}
                    <br>
                    {{ stylist.stylist.biography }}
                    <br>
                    <form action="{% url 'customer:obtain_stylist_profile' %}" method="get">
                        <input type="hidden" name="stylist_pk" value="{{ stylist.pk }}"/>
                        <input type="submit" name="SELECT" value="Select"/>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    <form action="{% url 'customer:create_appointment' %}" method="post"> {% csrf_token %}

        <label for="location">Location: </label>
        <input type="text" value="" name="location" id="location"/> <br>

        <label for="date">Date: </label>
        <input type="datetime-local" value="" name="date" id="date"/> <br>

        <input id=create_appointment_button type="submit" value="Make new Appointment" name="CREATE"/>
    </form>



{% endblock %}