{% extends 'customer/base.html' %}

{% block main_content %}

    <div id="menu_main_div">
        <button id=short_cut value="short_cut" name="menu_main">Short Cut</button>
        <button id=long_cut type="submit" value="long_cut" name="menu_main">Long Cut</button>
    </div>

    <hr>

    <text id="menu_choice"></text>

    <div id="stylist_search">
        <form id=create_appointment_form action="{% url 'customer:stylist_search' %}" method="get">
            <input type="search" placeholder="Search...." name="param"/> <br>
            <input type="submit" value="Stylist Search" name="SEARCH"/>
        </form>

        Chosen Stylist: {{ chosen_stylist.get_full_name }}

        <form action="{% url 'customer:create_appointment' %}" method="post"> {% csrf_token %}
            <label for="location">Location: </label>
            <input type="text" value="" name="location" id="location"/> <br>

            <label for="date">Date: </label>
            <input type="datetime-local" value="" name="date" id="date"/> <br>

            <input id=menu_main type="hidden" name=menu_main value=""/>

            <input id=create_appointment_button type="submit" value="Make new Appointment" name="CREATE"/>
        </form>
    </div>


{% endblock %}