{% extends 'customer/base.html' %}

{% block main_content %}
    <div id="accepted_appointments">
        <h1>Accepted Appointments</h1>
        {% for appointment in accepted_appointments %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Stylist: {{ appointment.stylist.get_full_name }} <br>
                Location: {{ appointment.location }} <br>
                Time: {{ appointment.date|default_if_none:"" }} <br>
                Price: {{ appointment.price|default_if_none:"" }} <br>
                -------------------------------- <br>
                <form action="{% url 'customer:view_bill' %}" method="get">
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                    <input type="submit" value="View Bill"/>
                </form>
            </ul>
        {% endfor %}
    </div>
    <div id="pending_appointments">
        <h1>Pending Appointments</h1>
        {% for appointment in pending_appointments %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Stylist: {{ appointment.stylist.get_full_name }} <br>
                Location: {{ appointment.location }} <br>
                Time: {{ appointment.date|default_if_none:"" }} <br>
                Price: {{ appointment.price|default_if_none:"" }} <br>

                <form action="{% url 'customer:cancel_appointment' %}" method="post"> {% csrf_token %}
                    <input type="submit" value="Cancel"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <br>
                <form action="{% url 'customer:reschedule_appointment' %}" method="post"> {% csrf_token %}
                    <label for="date">Date: </label>
                    <input type="datetime-local" value="" name="date" id="date"/> <br>
                    <input type="submit" value="Reschedule"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <form action="{% url 'customer:view_bill' %}" method="get">
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                    <input type="submit" value="View Bill"/>
                </form>
                <br>
                -------------------------------- <br>
            </ul>
        {% endfor %}
    </div>
    <div id="rescheduled_bycustomer_appointments">
        <h1>Appointments Waiting on Stylist to Accept Your Rescheduling</h1>
        {% for appointment in rescheduled_bycustomer_appointments %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Stylist: {{ appointment.stylist.get_full_name }} <br>
                Location: {{ appointment.location }} <br>
                Time: {{ appointment.date|default_if_none:"" }} <br>
                Price: {{ appointment.price|default_if_none:"" }} <br>
                -------------------------------- <br>
                <form action="{% url 'customer:cancel_appointment' %}" method="post"> {% csrf_token %}
                    <input type="submit" value="Cancel"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <br>
                <form action="{% url 'customer:reschedule_appointment' %}" method="post"> {% csrf_token %}
                    <label for="date">Date: </label>
                    <input type="datetime-local" value="" name="date" id="date"/> <br>
                    <input type="submit" value="Reschedule"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <form action="{% url 'customer:view_bill' %}" method="get">
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                    <input type="submit" value="View Bill"/>
                </form>
            </ul>
        {% endfor %}
    </div>
    <div id="rescheduled_bystylist_appointments">
        <h1>Appointments Rescheduled by Stylist</h1>
        {% for appointment in rescheduled_bystylist_appointments %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Stylist: {{ appointment.stylist.get_full_name }} <br>
                Location: {{ appointment.location }} <br>
                Time: {{ appointment.date|default_if_none:"" }} <br>
                Price: {{ appointment.price|default_if_none:"" }} <br>
                -------------------------------- <br>
                <form action="{% url 'customer:accept_appointment' %}" method="post"> {% csrf_token %}
                    <input type="submit" value="Accept"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <form action="{% url 'customer:cancel_appointment' %}" method="post"> {% csrf_token %}
                    <input type="submit" value="Cancel"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <br>
                <form action="{% url 'customer:reschedule_appointment' %}" method="post"> {% csrf_token %}
                    <label for="date">Date: </label>
                    <input type="datetime-local" value="" name="date" id="date"/> <br>
                    <input type="submit" value="Reschedule"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <form action="{% url 'customer:view_bill' %}" method="get">
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                    <input type="submit" value="View Bill"/>
                </form>
            </ul>
        {% endfor %}
    </div>
    <div id="completed_appointments">
        <h1>Completed Appointments</h1>
        {% for appointment in completed_appointments %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Stylist: {{ appointment.stylist.get_full_name }} <br>
                Location: {{ appointment.location }} <br>
                Time: {{ appointment.date|default_if_none:"" }} <br>
                Price: {{ appointment.price|default_if_none:"" }} <br>
                -------------------------------- <br>
                <form action="{% url 'customer:view_bill' %}" method="get">
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                    <input type="submit" value="View Bill"/>
                </form>
            </ul>
        {% endfor %}
    </div>
    <div id="declined_appointments">
        <h1>Declined Appointments</h1>
        {% for appointment in declined_appointments %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Stylist: {{ appointment.stylist.get_full_name }} <br>
                Location: {{ appointment.location }} <br>
                Time: {{ appointment.date|default_if_none:"" }} <br>
                Price: {{ appointment.price|default_if_none:"" }} <br>
                -------------------------------- <br>
            </ul>
        {% endfor %}
    </div>

    <a href="{% url 'customer:create_appointment' %}">Create Appointment</a>

    <div id="reviews">
        <h1>Incomplete Reviews</h1>
        {% for review in incomplete_reviews %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Stylist: {{ review.appointment.stylist.get_full_name }} <br>
                Location: {{ review.appointment.location }} <br>
                Time: {{ review.appointment.date|default_if_none:"" }} <br>
                Price: {{ review.appointment.price|default_if_none:"" }} <br>
                <form action="{% url 'customer:submit_review' %}" method="post"> {% csrf_token %}
                    <input type="hidden" name="review_pk" value="{{ review.pk }}"/>
                    <input type="number" name="rating" min="0" max="5"/>
                    <input type="submit" value="Write a Review"/>
                </form>
                -------------------------------- <br>
            </ul>
        {% endfor %}
        <h1>Completed Reviews</h1>
        {% for review in complete_reviews %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Stylist: {{ review.appointment.stylist.get_full_name }} <br>
                Location: {{ review.appointment.location }} <br>
                Time: {{ review.appointment.date|default_if_none:"" }} <br>
                Price: {{ review.appointment.price|default_if_none:"" }} <br>

                How you rated stylist: {{ review.stylist_rating }} <br>
                Your Rating: {{ review.customer_rating }} <br>
                -------------------------------- <br>
            </ul>
        {% endfor %}
    </div>

    <div id="deal">
        <h1>Transaction History</h1>
    </div>
{% endblock %}