{% extends 'customer/base.html' %}

{% block main_content %}
    <div id="appointments">
        <h1>My Appointments</h1>
        <ul>
            <li>
                {% for appointment in appointments %}
                    --------------------------------                    <br>
                    Appointment Details:                                <br>
                    Stylist: {{ appointment.stylist_name }}             <br>
                    Location: {{ appointment.location }}                <br>
                    Time: {{ appointment.date|default_if_none:"" }}     <br>
                    Price: {{ appointment.price|default_if_none:"" }}   <br>

                    --------------------------------                    <br>
                {% endfor %}

                <a href="{% url 'customer:create_appointment' %}">Create Appointment</a>
            </li>
        </ul>
    </div>

    <div id="reviews">
        <h1>Your Reviews</h1>
        <ul>
            <li>
                use loop etc. to create a list of all the reviews. Anonymous
            </li>
        </ul>
    </div>

    <div id="deal">
        <h1>Transaction History</h1>
        <ul>
            <li>
                List of all Deals
            </li>
        </ul>
        Button to add another deal.
    </div>
{% endblock %}