{% extends 'customer/base.html' %}

{% block main_content %}
    {% for stylist in stylist_list %}
        --------------------------------------------------------------------------
        <img src="{{ stylist.stylist.stylist_picture.url }}" height="100px" width="100px">
        <br>
        {{ stylist.get_full_name }}
        <br>
        {{ stylist.stylist.biography }}
        <br>
        <form action="{% url 'customer:obtain_stylist_profile' %}" method="get">
            <input type="hidden" name="stylist_pk" value="{{ stylist.pk }}"/>
            <input type="submit" name="SELECT" value="Select"/>
        </form>
        ---------------------------------------------------------------------------
    {% endfor %}
{% endblock %}