{% extends 'customer/base.html' %}

{% block main_content %}
    {% for user in stylist_list %}
        --------------------------------------------------------------------------
        <img src="{{ user.stylist.stylist_picture.url }}" height="100px" width="100px">
        <br>
        {{ user.get_full_name }}
        <br>
        {{ user.stylist.biography }}
        <br>
        <form action="{% url 'customer:osp' %}" method="get">
            <input type="hidden" name="username" value="{{ user.username }}"/>
            <input type="submit" name="SELECT" value="Select"/>
        </form>
        ---------------------------------------------------------------------------
    {% endfor %}
{% endblock %}