<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clippr??</title>
</head>
<body>

    Change Password:
    <form action="{% url 'core:change_password' %}" method="post"> {% csrf_token %}
        <label for="new_password">New Password: </label>
        <input type="password" id="new_password" name="new_password" value=""/>

        <label for="new_password_repeat">New Password again: </label>
        <input type="password" id="new_password_repeat" name="new_password_repeat" value=""/>

        <input type="submit" value="Submit!"/>
    </form>

    {% if password_error %}
        {{ password_error }}
    {% endif %}

</body>
</html>