<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clipper</title>
</head>
<body>
Welcome to Clipper.
<form action="{% url 'core:create_new_user' %}" method="post"> {% csrf_token %}
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" value="" id="first_name"/> <br>

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" value="" id="last_name"/> <br>

    <label for="email">Email Address:</label>
    <input type="email" name="email" value="" id="email"/> <br>

    <label for ="username">User Name:</label>
    <input type="text" name="username" value="" id="username"/> <br>

    <label for="password1">Password:</label>
    <input type="password" name="password1" value="" id="password1"/> <br>

    <label for="password2">Please Re-Enter your Password:</label>
    <input type="password" name="password2" value="" id="password2"/> <br>

    <label for="stylist">Are you a Stylist?</label>
    <input type="radio" name="is_stylist" value="YES"/> Yes <br>
    <input type="radio" name="is_stylist" value="NO"/> No <br>

    <input type="submit" name="Submit" value="CREATE"/>

</form>
</body>
</html>