{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clipper</title>
{#    <link rel="stylesheet" type="text/css" href="{% static 'clippr/style.css' %}" />#}
</head>
<body>
Welcome to Clippr.

{#{% if form.errors %}#}
{#    {% for field in form %}#}
{#        {% for error in field.errors %}#}
{#            <div class="alert alert-danger">#}
{#                <strong>{{ error|escape }}</strong>#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{#{% endif %}#}

<form action="{% url 'core:entering_user' %}" method="post"> {% csrf_token %}
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" value="{{ form.first_name.value|default_if_none:"" }}" id="first_name"/> <br>

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" value="{{ form.last_name.value|default_if_none:"" }}" id="last_name"/> <br>

    <label for="email">Email Address:</label>
    <input type="email" name="email" value="{{ form.email.value|default_if_none:"" }}" id="email"/> {{ form.email.errors|default_if_none:"" }} <br>

    <label for ="username">User Name:</label>
    <input type="text" name="username" value="{{ form.username.value|default_if_none:"" }}" id="username"/> {{ form.username.errors|default_if_none:"" }}<br>

    <label for="password1">Password:</label>
    <input type="password" name="password1" value="" id="password1"/> <br>

    <label for="password2">Please Re-Enter your Password:</label>
    <input type="password" name="password2" value="" id="password2"/> {{ form.password2.errors|default_if_none:"" }}<br>


    <label for="stylist">Are you a Stylist?</label>
    <input type="radio" name="is_stylist" value="YES"/> Yes
    <input type="radio" name="is_stylist" value="NO"/> No <br>

    <input type="submit" name="CREATE" value="Submit"/><br>

    <a href="{% url 'core:returning_user' %}">Already have an account?</a>

</form>
</body>
</html>