<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clipper</title>
</head>
<body>
    <form action="{% url 'core:user_authentication' %}" method="post"> {% csrf_token %}
        <label for="username">User Name:</label>
        <input type="text" name="username" value="" id="username"/> <br>

        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password"/> <br>

        <input type="submit" name="LOGIN" value="Submit"/>
    </form>
</body>
</html>