{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clippr</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>

{% include 'customer/customerReal/headerBase.html' %}

<div class="container">
    <div class="row">
        <div class="col-3 p-0">
            <nav class="nav flex-column">
                <a class="list-group-item list-group-item-action active" data-toggle="tab"
                   href="#accepted_appointments">
                    Accepted</a>
                <a class="list-group-item list-group-item-action" data-toggle="tab" href="#pending_appointments">
                    Requests</a>
                <a class="list-group-item list-group-item-action" data-toggle="tab" href="#rescheduled_appointments">
                    Rescheduled</a>
                <a class="list-group-item list-group-item-action" data-toggle="tab" href="#complete_appointments">
                    Complete</a>
                <a class="list-group-item list-group-item-action" data-toggle="tab" href="#declined_appointments">
                    Declined</a>

            </nav>
        </div>
        <div class="col-9 p-0">
            <div class="tab-content">
                <div class="tab-pane active" id="accepted_appointments" role="tabpanel">
                    <div class="container">
                        {% for appointment in accepted_appointments %}
                            -------------------------------- <br>
                            Appointment Details: <br>
                            Customer: {{ appointment.customer.get_full_name }} <br>
                            Location: {{ appointment.location }} <br>
                            Price: {{ appointment.price|default_if_none:"" }} <br>

                            <form action="{% url 'customer:view_bill' %}" method="get"> {% csrf_token %}
                                <input type="submit" value="View the Bill"/>
                                <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                            </form>
                            <br>

                            <button onclick="showMarkerOnMap(this)" value="{{ appointment.location }}">Show On Map
                            </button>
                            <br>
                            -------------------------------- <br>
                        {% empty %}
                            You have no upcoming appointments <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="pending_appointments" role="tabpanel">
                    <div class="container">
                        {% for appointment in pending_appointments %}
                            -------------------------------- <br>
                            Appointment Details: <br>
                            Customer: {{ appointment.customer.get_full_name }} <br>
                            Location: {{ appointment.location }} <br>
                            Price: {{ appointment.price|default_if_none:"" }} <br>

                            <form action="{% url 'customer:accept_appointment' %}" method="post"> {% csrf_token %}
                                <input type="submit" value="Accept"/>
                                <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                            </form>
                            <br>
                            <form action="{% url 'customer:cancel_appointment' %}" method="post"> {% csrf_token %}
                                <input type="submit" value="Decline"/>
                                <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                            </form>
                            <br>
                            -------------------------------- <br>
                        {% empty %}
                            There are no pending appointments at this time <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="rescheduled_appointments" role="tabpanel">
                    <div class="container">
                        {% for appointment in rescheduled_appointments %}
                            {% if appointment.status == customer_reschedule %}
                                -------------------------------- <br>
                                RESCHEDULED BY CUSTOMER <br>
                                Appointment Details: <br>
                                Customer: {{ appointment.customer.get_full_name }} <br>
                                Location: {{ appointment.location }} <br>
                                Price: {{ appointment.price|default_if_none:"" }} <br>

                                <form action="{% url 'customer:cancel_appointment' %}" method="post"> {% csrf_token %}
                                    <input type="submit" value="Decline"/>
                                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                                </form>
                                <br>
                                -------------------------------- <br>
                            {% endif %}
                            {% if appointment.status == stylist_reschedule %}
                                -------------------------------- <br>
                                RESCHEDULED BY YOU <br>
                                Appointment Details: <br>
                                Customer: {{ appointment.customer.get_full_name }} <br>
                                Location: {{ appointment.location }} <br>
                                Price: {{ appointment.price|default_if_none:"" }} <br>

                                <form action="{% url 'customer:accept_appointment' %}" method="post"> {% csrf_token %}
                                    <input type="submit" value="Accept"/>
                                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                                </form>
                                <br>

                                <form action="{% url 'customer:cancel_appointment' %}" method="post"> {% csrf_token %}
                                    <input type="submit" value="Decline"/>
                                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                                </form>
                                <br>
                                -------------------------------- <br>
                            {% endif %}


                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="complete_appointments" role="tabpanel">
                    <div class="container">
                        {% for appointment in completed_appointments %}
                            -------------------------------- <br>
                            Appointment Details: <br>
                            Customer: {{ appointment.customer.get_full_name }} <br>
                            Location: {{ appointment.location }} <br>
                            Price: {{ appointment.price|default_if_none:"" }} <br>
                            -------------------------------- <br>
                        {% empty %}
                            There is nothing here yet!
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="declined_appointments" role="tabpanel">
                    <div class="container">
                        {% for appointment in declined_appointments %}
                            -------------------------------- <br>
                            Appointment Details: <br>
                            Customer: {{ appointment.customer.get_full_name }} <br>
                            Location: {{ appointment.location }} <br>
                            Price: {{ appointment.price|default_if_none:"" }} <br>
                            -------------------------------- <br>
                        {% empty %}
                            There is nothing here yet!
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'master_scripts.html' %}

</body>
</html>