.portfolio-card {
    width: 300px;
}

.portfolio-image {
    width: 100%;
}

.portfolio-image-sizing {
    height:300px;
    width: 300px;
}

.modal-header {
    height: 0px;
    border: 0;
}

#popup-image {
    width: 100%
}