 #map {
        height: 100%;
      }

 .card-dashboard {
     height: 350px;
     /*width: 100%;*/
     /*padding-right: 50px;*/
 }

.col-dashboard {
    padding-right: (@spacer-y * 1.5) !important
    min-width: 250px;
}

.card-title {
    font-size: 20px;
    background-color: lightgray;
}

.appointment_block {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}