{% extends 'stylist/base.html' %}

{% block main_content %}
    <a href="{% url 'stylist:create_menu_option' %}">Create Menu Option?</a> <br>
    Menu Options You Haven't Selected: <br>
    {% for menu_option in menu_options %}
        ------------------------------ <br>
        Name: {{ menu_option.name }} <br>
        Description: {{ menu_option.description }} <br>
        <form action="{% url 'stylist:select_menu_option' %}" method="post">{% csrf_token %}
            <input type="hidden" value="{{ menu_option.pk }}" name="menu_option_pk"/>
            <input type="submit" value="Select"/>
        </form>
        ------------------------------ <br>
    {% endfor %}

    <br>
    Menu Options You've Selected: <br>
    {% for stylist_option in stylist_options %}
        ---------------------------------- <br>
        Name: {{ stylist_option.name }} <br>
        Price: {{ stylist_option.price|default_if_none:"Set a price!" }} <br>
        Duration: {{ stylist.duration }}
        <form action="{% url 'stylist:remove_menu_option' %}" method="post">{% csrf_token %}
            <input type="hidden" name="stylist_option_pk" value="{{ stylist_option.pk }}"/>
            <input type="submit" value="Remove"/>
        </form>
        <form action="{% url 'stylist:edit_menu_option' %}" method="get">
            <input type="hidden" name="stylist_option_pk" value="{{ stylist_option.pk }}"/>
            <input type="submit" value="Edit Option"/>
        </form> <br>
        ---------------------------------- <br>

    {% endfor %}

{% endblock %}