{% extends 'core/home/home_core.html' %}
{% load staticfiles %}

{% block main_content %}
    <div class="row">
        <div class="col-7">
            <div class="jumbotron jumbotron-fluid" id="homeJumbotron">
            </div>
        </div>
        <div class="col-5" id="howItWorks">
            <h2>How it works</h2>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title">About</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    {#            <a href="{% url 'customerReal:search' %}" class="btn btn-primary">Book Now</a>#}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title">Download the App</h3>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <p class="card-text">Follow us on social media here!</p>
                    <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}