<div id="navLogIn-Link">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">

            {# New User and Login Buttons #}
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col">
                            <button id="newUser" type="button" class="btn btn-secondary">New User?</button>
                        </div>
                        <div class="col">
                            <button id="logIn" type="button" class="btn btn-primary">Log In</button>
                        </div>
                    </div>
                    <hr>
                    <div id="newUserConfirmation"></div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            {# New User Form #}
                            <div id="newUserFormDiv">
                                <form id="newUserForm" action="{% url "core:create_user" %}" method="post" role="form"
                                      style="display: block;"> {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="first_name" id="first_name" tabindex="1"
                                               class="form-control" placeholder="First Name" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="last_name" id="last_name" tabindex="2"
                                               class="form-control"
                                               placeholder="Last Name" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="3" class="form-control"
                                               placeholder="Email" value=""/> {{ form.email.errors|default_if_none:"" }}
                                    </div>
                                    <div id="email-error"></div>
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="4"
                                               class="form-control"
                                               placeholder="Username"
                                               value=""/> {{ form.username.errors|default_if_none:"" }}
                                    </div>
                                    <div id="username-error"></div>
                                    <div class="form-group">
                                        <input type="password" name="password1" value="" id="password1" tabindex="5"
                                               placeholder="Password"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password2" value="" id="password2" tabindex="6"
                                               placeholder="Re-Enter Password"/> {{ form.password2.errors|default_if_none:"" }}
                                    </div>
                                    <div id="password-error"></div>
                                    <div class="form-group">
                                        <label for="stylist">Are you a Stylist?</label>
                                        <input type="radio" name="is_stylist" value="YES"/> Yes
                                        <input type="radio" name="is_stylist" value="NO"/> No
                                    </div>
                                    <div id="is_stylist-error"></div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <input type="submit" name="CREATE" value="Submit" tabindex="7"
                                                       class="form-control btn">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            {#  Login Form #}
                            <div id="logInFormDiv">
                                <form id="logInForm" action="{% url 'core:returning_user' %}" method="post" role="form"
                                      style="display: block;"> {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="username" id="login_username" tabindex="1"
                                               class="form-control"
                                               placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="login_password" tabindex="2"
                                               class="form-control" placeholder="Password" value="">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <input type="submit" name="LOGIN" value="Submit" tabindex="3"
                                                       class="form-control btn">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
