{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'clippr/homeStyle.css' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clippr</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" id="navLogo" href="{% url 'core:home' %}">
        <img src="{% static "clippr/images/logoTransparent.png" %}" width="50" height="50" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container" id="OuterCenter">
            <div class="container" id="InnerCenter">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="navHome" href="{% url 'core:home' %}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navSafety" href="{% url 'core:home_safety' %}">Safety </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navFindYourStyle" href="{% url 'core:home_style' %}">Find Your Style</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navBecomeAStylist" href="{% url 'core:home_stylist' %}">Become a
                            Stylist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navLogIn" href="{% url 'core:home_login' %}">Log In/Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a id="navProfile" href="{% url 'core:home_login' %}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% block main_content %}
{% endblock %}

{#Add footer here#}

{% include 'master_scripts.html' %}

<script src="{% static "javascript/core.js" %}"></script>

</body>
</html>