<div id="navHome-Link">
    <div class="jumbotron jumbotron-fluid" id="homeJumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to
                featured content or information.</p>
            <hr class="my-2">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>

    <div class="clearFloat"></div>
    <div id="content">
        <div id="about">
            <p>About:</p>
        </div>
        <div id="appAndSocialMedia">
            <div id="downloadApp">
                <p>download the app here</p>
            </div>
            <div id="socialMedia">
                <p>follow us on social media!</p>
            </div>
        </div>
    </div>
</div>