{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'clippr/homeStyle.css' %}"/>
    <meta charset="UTF-8">
    <title>Clippr</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'clippr/core.css' %}">
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" id="navLogo" href="#">
            <img src="{% static "clippr/images/logoTransparent.png" %}" width="50" height="50" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" id="navHome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navSafety">Safety </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navFindYourStyle">Find Your Style</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navBecomeAStylist">Become a Stylist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navLogIn">Log In/Sign up</a>
            </li>
            <li class="nav-item">
              <a id="profile"></a>
            </li>
          </ul>
        </div>
    </div>
</nav>

{% include 'core/home/home_home.html' %}

{% include 'core/home/home_safety.html' %}

{% include 'core/home/home_findyourstyle.html' %}

{% include 'core/home/home_becomeastylist.html' %}

{% include 'core/home/home_login.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
        integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
        crossorigin="anonymous"></script>
<script src=" {% static "Bootstrap4/js/bootstrap.min.js" %}"></script>
<script src="{% static "clippr/core.js" %}"></script>

</body>
</html>