#profile-preview {
    border-left: solid black 2px;
}

.profile-image-sizing {
    height: 130px;
    width: 130px;
}

.portfolio-image-sizing {
    height: 220px;
    width: 220px;
}

.portfolio-card {
    width: 220px;
}
