{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' type="text/css" href='{% static 'fullcalendar/dist/fullcalendar.css' %}'/>
    <script src='{% static 'jquery/dist/jquery.min.js' %}'></script>
    <script src='{% static 'moment/min/moment.min.js' %}'></script>
    <script src='{% static 'fullcalendar/dist/fullcalendar.js' %}'></script>
    <title>Shifts</title>

    ...

    <script type="text/javascript">
        $(document).ready(function () { // Page is ready.
            // Initialize the calendar.
            $('#calendar').fullCalendar({

            });
        });
    </script>

</head>

<body>
<div id="calendar"></div>
</body>
</html>