{% load staticfiles %}
<!DOCTYPE html>
<html>
{% include 'stylist/stylistReal/headerBase.html' %}
<head>

    <link rel='stylesheet' type="text/css" href='{% static 'fullcalendar/dist/fullcalendar.css' %}'/>
    <script src='{% static 'jquery/dist/jquery.min.js' %}'></script>
    <script src='{% static 'moment/min/moment.min.js' %}'></script>
    <script src='{% static 'fullcalendar/dist/fullcalendar.js' %}'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Tether JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <title>Shifts</title>

    ...

    <script type="text/javascript">

        $(document).ready(function () { // Page is ready.
                // Initialize the calendar.

                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                $(function () {
                    console.log('hi');
                    $.ajaxSetup({
                        headers: {"X-CSRFToken": getCookie("csrftoken")}
                    });
                });

                var currentEvent;

                var saveForm = document.getElementById("saveForm");
                var deleteForm = document.getElementById("deleteForm");
                var excludeForm = document.getElementById("excludeForm");
                excludeForm.onsubmit = excludeFormSubmit;
                deleteForm.onsubmit = deleteFormSubmit;
                saveForm.onsubmit = saveFormSubmit;

                function excludeFormSubmit() {
                    event.preventDefault();
                    $("#popup-modal").modal("hide");

                    var packageJSON = {
                        "excluded_date": moment(currentEvent.start).format("YYYY-MM-DD"),
                        "shift_pk": currentEvent.pk
                    };

                    $.ajax({
                        url: "{% url 'api:exclude_date' %}",
                        type: "post",
                        data: packageJSON,
                        success: function (data) {
                            $('#calendar').fullCalendar('refetchEvents');
                        },
                        error: function (data) {
                            console.log("error submitting request to " + "{% url 'api:exclude_date' %}");
                            console.log(data);
                        }
                    })
                }

                function deleteFormSubmit() {
                    event.preventDefault();
                    $("#popup-modal").modal("hide");
                    $.ajax({
                        url: currentEvent.url,
                        type: "delete",
                        success: function (data) {
                            $('#calendar').fullCalendar('refetchEvents');
                        }
                    })
                }

                function saveFormSubmit() {
                    event.preventDefault();
                    $("#popup-modal").modal("hide");

                    var dowValue = $('input[name="dow"]:checked').val();
                    var currentEventJson;
                    if (dowValue == '' || dowValue == null) {
                        console.log('no dow value');
                        currentEventJson = {
                            "start_date_time": moment(currentEvent.start).format(),
                            "end_date_time": moment(currentEvent.end).format(),
                            "title": "unavailable"
                        };
                    } else {
                        currentEventJson = {
                            "start_date_time": moment(currentEvent.start).format(),
                            "end_date_time": moment(currentEvent.end).format(),
                            "start_time": moment(currentEvent.start).format("HH:mm:ss"),
                            "end_time": moment(currentEvent.end).format("HH:mm:ss"),
                            "title": "unavailable",
                            "dow": dowValue
                        };
                    }

                    console.log($(saveForm).serialize());
                    console.log(currentEvent);
                    if (currentEvent.url) {
                        $.ajax({
                            url: currentEvent.url,
                            type: "put",
                            data: currentEventJson,
                            success: function (data) {
                                $('#calendar').fullCalendar('refetchEvents');
                            }
                        })
                    } else {
                        $.ajax({
                            url: '{% url 'api:shift-list' %}',
                            type: "post",
                            data: currentEventJson,
                            success: function (data) {
                                $('#calendar').fullCalendar('refetchEvents');
                            }
                        })
                    }
                }

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    defaultView: 'agendaWeek',
                    defaultDate: moment().format("YYYY-MM-DD"),
                    editable: true,
                    eventSources: [
                        {
                            {% if stylist_pk %}
                                url: '{% url 'api:shift-list' %}?stylist_pk={{ stylist_pk }}',
                            {% else %}
                                url: '{% url 'api:shift-list' %}',
                            {% endif %}
                            color: 'red'
                        },
                        {
                            url: '{% url 'api:calendarevent-list' %}',
                            color: 'green'
                        }
                    ],
                    selectable: true,
                    eventClick: function (event) {
                        if (event.is_shift) {
                            console.log(event);
                            currentEvent = event;
                            $("#popup-modal").modal("show");
                        }
                        return false;
                    },
                    eventRender: function (event, element, view) {
                        if ((event.dow != null && event.dow != "") && (event.ranges != null && event.ranges != "")) {
                            return (event.ranges.filter(function (range) {
                                        var event_start = moment.utc(event.start);
                                        var event_end = moment.utc(event.end);
                                        var range_start = moment.utc(range.start);
                                        var range_end = moment.utc(range.end);


                                        return (event_start).isBefore(range_end) &&
                                            event_end.isAfter(range_start);
                                    }
                                ).length) > 0;
                        }
                    },
                    loading: function (bool) {
                        $('#loading').toggle(bool);
                    }
                    ,
                    select: function (start, end, jsEvent, view) {
                        var newEvent = {};

                        newEvent.start = moment(start).format();

                        newEvent.end = moment(end).format();

                        newEvent.title = "Unavailable";
                        newEvent.allDay = false;
                        newEvent.is_shift = true;

                        $('#calendar').fullCalendar('renderEvent', newEvent);
                    }
                })
                ;
            }
        )
        ;

    </script>

</head>

<body>
<div id="calendar"></div>

<div class="modal fade" id="popup-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-end pt-3 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div class="modal-body m-0">

                <form id="saveForm" method="post" action="#">{% csrf_token %}
                    <label for="dow">Repeating Event?</label>
                    Sunday <input type="radio" name="dow" id="dow" value="0"/>
                    Monday <input type="radio" name="dow" id="dow" value="1"/>
                    Tuesday <input type="radio" name="dow" id="dow" value="2"/>
                    Wednesday <input type="radio" name="dow" id="dow" value="3"/>
                    Thursday <input type="radio" name="dow" id="dow" value="4"/>
                    Friday <input type="radio" name="dow" id="dow" value="5"/>
                    Saturday <input type="radio" name="dow" id="dow" value="6"/>
                    None <input type="radio" name="dow" id="dow" value=""/>
                    <br>

                    <input type="submit" value="Save"/>
                </form>

                <form id="deleteForm" method="post" action="#">{% csrf_token %}
                    <input type="submit" value="Delete"/>
                </form>


                <form id="excludeForm" method="post" action="#">{% csrf_token %}
                    <input type="submit" value="Exclude"/>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>