{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clippr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/stylist_dashboard.css" %}">
</head>
<body>

{# ToDo: make nav bar a real actual navbar#}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">This is a placeholder</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="row p-3">
        <div class="col-lg-4">
            <div class="card card-dashboard">
                <h4 class="card-title text-center">Appointments</h4>
                <ul class="nav nav-tabs justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#accepted_appointments" role="tab">
                            Accepted
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#pending_appointments" role="tab">
                            Requests
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="accepted_appointments" role="tabpanel">
                        {#ToDo: appointment views need some style work#}
                        {% for appointment in accepted_appointments %}
                            <ul>
                                -------------------------------- <br>
                                Appointment Details: <br>
                                Customer: {{ appointment.customer.get_full_name }} <br>
                                Location: {{ appointment.location }} <br>
                                Time: {{ appointment.date|default_if_none:"" }} <br>
                                Price: {{ appointment.price|default_if_none:"" }} <br>

                                <form action="{% url 'stylist:view_bill' %}" method="get"> {% csrf_token %}
                                    <input type="submit" value="View the Bill"/>
                                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                                </form>
                                <form action="{% url 'stylist:complete_appointment' %}" method="post"> {% csrf_token %}
                                    <input type="submit" value="Complete"/>
                                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                                </form>
                                <br>
                                -------------------------------- <br>
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="pending_appointments" role="tabpanel">
                        {% for appointment in pending_appointments %}
                            <ul>
                                -------------------------------- <br>
                                Appointment Details: <br>
                                Customer: {{ appointment.customer.get_full_name }} <br>
                                Location: {{ appointment.location }} <br>
                                Time: {{ appointment.date|default_if_none:"" }} <br>
                                Price: {{ appointment.price|default_if_none:"" }} <br>

                                <form action="{% url 'stylist:accept_appointment' %}" method="post"> {% csrf_token %}
                                    <input type="submit" value="Accept"/>
                                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                                </form>
                                <br>
                                <form action="{% url 'stylist:decline_appointment' %}" method="post"> {% csrf_token %}
                                    <input type="submit" value="Decline"/>
                                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                                </form>
                                <br>
                                <form action="{% url 'stylist:reschedule_appointment' %}"
                                      method="post"> {% csrf_token %}
                                    <label for="date">Date: </label>
                                    <input type="datetime-local" value="" name="date" id="date"/> <br>
                                    <input type="submit" value="Reschedule"/>
                                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                                </form>
                                <br>
                                -------------------------------- <br>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card card-dashboard">
                <h4 class="card-title text-center">Map</h4>
                <div class="card-block" id="map"></div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-md-4 hidden-md-down">
            <div class="card card-dashboard">
                <h4 class="card-title text-center">Reviews</h4>
                <div id="reviews">
                    <h6>Incomplete Reviews</h6>
                    {% for review in incomplete_reviews %}
                        <ul>
                            -------------------------------- <br>
                            Appointment Details: <br>
                            Customer: {{ review.appointment.customer.get_full_name }} <br>
                            Location: {{ review.appointment.location }} <br>
                            Time: {{ review.appointment.date|default_if_none:"" }} <br>
                            Price: {{ review.appointment.price|default_if_none:"" }} <br>
                            <form action="{% url 'stylist:submit_review' %}" method="post"> {% csrf_token %}
                                <input type="hidden" name="review_pk" value="{{ review.pk }}"/>
                                <input type="number" name="rating" min="0" max="5"/>
                                <input type="submit" value="Write a Review"/>
                            </form>
                            -------------------------------- <br>
                        </ul>
                    {% endfor %}
                    {#ToDo: Not seeing any completed reviews here#}
                    <h6>Completed Reviews</h6>
                    {% for review in complete_reviews %}
                        <ul>
                            -------------------------------- <br>
                            Appointment Details: <br>
                            Customer: {{ review.appointment.customer.get_full_name }} <br>
                            Location: {{ review.appointment.location }} <br>
                            Time: {{ review.appointment.date|default_if_none:"" }} <br>
                            Price: {{ review.appointment.price|default_if_none:"" }} <br>

                            How you rated customer: {{ review.customer_rating }} <br>
                            Your Rating: {{ review.stylist_rating }} <br>
                            -------------------------------- <br>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4 hidden-md-down">
            <div class="card card-dashboard">
                <h4 class="card-title text-center">Create a Deal</h4>
                <p class="card-text"> Some quick example text to build on the card title
                    and make up the bulk of the card's content.
                </p>
            </div>
        </div>
        <div class="col-md-4 hidden-md-down">
            <div class="card card-dashboard">
                <h4 class="card-title text-center">Your Menu</h4>
                <p class="card-text"> Some quick example text to build on the card title
                    and make up the bulk of the card's content.
                </p>
            </div>
        </div>
    </div>


</div>

{#ToDo: Add footer#}
<
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
        integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrq-NzXNcxodOPZuljB7XBou8g-RjfMW4&libraries=places&callback=initMap"
        async defer></script>
<script src="{% static 'javascript/stylist_dashboard.js' %}"></script>


</body>
</html>