{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clippr</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Clippr CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/stylist_dashboard.css" %}">

{# ToDo: make nav bar a real actual navbar#}
<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <div class="bg-inverse p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="navLogoff" href="{% url 'core:logout' %}">Logoff</a>
            </li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <a class="navbar-brand text-right">Clippr</a>
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:logout' %}">Logoff</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</head>