{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clippr</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/stylist_profile.css" %}">
</head>
<body>

{% include 'stylist/stylistReal/headerBase.html' %}

<div class="container">
    <div class="row pt-3">
        <div class="col-5">
            <div class="card p-0">
                <div class="row">
                    <div class="col-4">
                        <div class="profile-image-sizing">
                            <img class="card-img-top profile-image" src="{{ stylist.profile_picture.url }}"/>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-block pt-0">
                            <h4 class="card-title">{{ full_name }}</h4>
                            <p class="card-text">
                                {{ stylist.biography|default_if_none:"Basic Information goes here." }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">About me</h5>
                    <div class="card-text">
                        This is where the about me section will be placed with all of the about me things that will
                        totally be longer than this so I'm going to continue to ramble until I feel like it is long
                        enough to work.There is it, that is totally long enough now. Tight
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card card-menu">
                <h6 class="card-header">Menu</h6>
                <div class="card-block card-scroll">
                    <p class="card-text">
                        Menu Options you've selected: <br>
                        ---------------------------------- <br>
                        <a href="{% url 'stylist:select_menu_option' %}">Select a Menu Option</a> <br>

                        {% for stylist_option in stylist_options %}
                            Name: {{ stylist_option.menu_option.name }} <br>
                            Description: {{ stylist_option.menu_option.description }} <br>
                            <form action="{% url 'stylist:remove_menu_option' %}" method="post">{% csrf_token %}
                                <input type="hidden" name="stylist_option_pk" value="{{ stylist_option.pk }}"/>
                                <input type="submit" value="Remove"/>
                            </form> <br>
                            ---------------------------------- <br>
                        {% empty %}
                            <p>no menu options chosen</p>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <h6 class="card-header">Portfolio</h6>
                <div class="card-block">
                    <div class="row">
                        {% for portfolio_haircut in portfolio_haircuts %}
                            <div class="col-lg-4 col-md-6 mb-3 mt-3 d-flex justify-content-center">
                                <div class="card portfolio-card mr-md-3">
                                    <div class="portfolio-image-sizing">
                                        <img class="card-img-top portfolio-image"
                                             src="{{ portfolio_haircut.picture.url }}"/>
                                    </div>
                                    <div class="card-block">
                                        <p class="card-text"> {{ portfolio_haircut.name }}
                                            Price: {{ portfolio_haircut.price }}
                                            Descriptrion: {{ portfolio_haircut.description }}</p>
                                        <form action="{% url 'stylist:edit_portfoliohaircut' %}"
                                              method="get"> {% csrf_token %}
                                            <input type="hidden" name="portfoliohaircut_pk"
                                                   value="{{ portfolio_haircut.pk }}"/>
                                            <input type="submit" value="Edit Haircut"/>
                                        </form>
                                        <form action="{% url 'stylist:delete_portfoliohaircut' %}"
                                              method="post"> {% csrf_token %}
                                            <input type="submit" value="Delete Item"/>
                                            <input type="hidden" name="portfolio_haircut_pk"
                                                   value="{{ portfolio_haircut.pk }}"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% include 'stylist/stylistReal/footerBase.html' %}

{% include 'master_scripts.html' %}

</body>
</html>