{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clippr</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/stylist/stylist_profile.css" %}">
</head>
<body>

{% include 'stylist/stylistReal/headerBase.html' %}

<div class="container">
    <div class="row pt-3 pb-3">

        <div class="col-md-5">
            <!-- Profile pic and name -->
            {% include 'stylist/stylistReal/profile/profile_components/profile_image.html' %}
        </div>

        <div class="col-md-7">
            <!-- About section -->
            {% include 'stylist/stylistReal/profile/profile_components/about.html' %}
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 px-1">
            <!-- Menu -->
            {% include 'stylist/stylistReal/dashboard/dashboardComponents/menu.html' %}
        </div>
        <div class="col-md-9 px-1">
            <!-- Portfolio -->
            {% include 'stylist/stylistReal/profile/profile_components/portfolio.html' %}
        </div>
    </div>
</div>

<!-- For popup image on click -->
{% include 'stylist/stylistReal/portfolio/portfolio_popup.html' %}

{% include 'stylist/stylistReal/footerBase.html' %}

{% include 'master_scripts.html' %}

<script src="{% static 'javascript/stylists/stylist_profile.js' %}"></script>

</body>
</html>