{% extends 'stylist/base.html' %}

{% block main_content %}
    <div id="appointments">
        <h1>My Appointments</h1>
        <ul>
            <li>
                {% for appointment in appointments %}
                    --------------------------------                    <br>
                    Appointment Details:                                <br>
                    Customer: {{ appointment.customer.get_full_name }}  <br>
                    Location: {{ appointment.location }}                <br>
                    Time: {{ appointment.date|default_if_none:"" }}     <br>
                    Price: {{ appointment.price|default_if_none:"" }}   <br>

                    --------------------------------                    <br>
                {% endfor %}
            </li>
        </ul>
    </div>

    <div id="reviews">
        <h1>Customer Reviews</h1>
        <ul>
            <li>
                use loop etc. to create a list of all the reviews. Anonymous
            </li>
        </ul>
    </div>

    <div id="deal">
        <h1>My Deals</h1>
        <ul>
            <li>
                List of all Deals
            </li>
        </ul>
        Button to add another deal.
    </div>

    <div id="services">
        <h1>Change your services</h1>
        <ul>
            <li>
                List of your current services (store in the haircut model).
            </li>
        </ul>
    </div>
{% endblock %}