{% extends 'stylist/base.html' %}

{% block main_content %}
    <div id="accepted_appointments">
        <h1>Accepted Appointments</h1>
        {% for appointment in accepted_appointments %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Customer: {{ appointment.customer.get_full_name }} <br>
                Location: {{ appointment.location }} <br>
                Time: {{ appointment.date|default_if_none:"" }} <br>
                Price: {{ appointment.haircut.price|default_if_none:"" }} <br>

                <form action="{% url 'stylist:view_bill' %}" method="get"> {% csrf_token %}
                    <input type="submit" value="View the Bill"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <form action="{% url 'stylist:complete_appointment' %}" method="post"> {% csrf_token %}
                    <input type="submit" value="Complete"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <br>
                -------------------------------- <br>
            </ul>
        {% endfor %}
    </div>
    <div id="pending_appointments">
        <h1>Pending Appointments</h1>
        {% for appointment in pending_appointments %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Customer: {{ appointment.customer.get_full_name }} <br>
                Location: {{ appointment.location }} <br>
                Time: {{ appointment.date|default_if_none:"" }} <br>
                Price: {{ appointment.haircut.price|default_if_none:"" }} <br>

                <form action="{% url 'stylist:accept_appointment' %}" method="post"> {% csrf_token %}
                    <input type="submit" value="Accept"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <br>
                <form action="{% url 'stylist:decline_appointment' %}" method="post"> {% csrf_token %}
                    <input type="submit" value="Decline"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <br>
                <form action="{% url 'stylist:reschedule_appointment' %}" method="post"> {% csrf_token %}
                    <label for="date">Date: </label>
                    <input type="datetime-local" value="" name="date" id="date"/> <br>
                    <input type="submit" value="Reschedule"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <br>
                -------------------------------- <br>
            </ul>
        {% endfor %}
    </div>
    <div id="rescheduled_bystylist_appointments">
        <h1>Appointments Waiting on Customer to Accept Rescheduling</h1>
        {% for appointment in rescheduled_bystylist_appointments %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Customer: {{ appointment.customer.get_full_name }} <br>
                Location: {{ appointment.location }} <br>
                Time: {{ appointment.date|default_if_none:"" }} <br>
                Price: {{ appointment.haircut.price|default_if_none:"" }} <br>

                <form action="{% url 'stylist:decline_appointment' %}" method="post"> {% csrf_token %}
                    <input type="submit" value="Decline"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <br>
                <form action="{% url 'stylist:reschedule_appointment' %}" method="post"> {% csrf_token %}
                    <label for="date">Date: </label>
                    <input type="datetime-local" value="" name="date" id="date"/> <br>
                    <input type="submit" value="Reschedule"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <br>
                -------------------------------- <br>
            </ul>
        {% endfor %}
    </div>
    <div id="completed_appointments">
        <h1>Completed Appointments</h1>
        {% for appointment in completed_appointments %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Customer: {{ appointment.customer.get_full_name }} <br>
                Location: {{ appointment.location }} <br>
                Time: {{ appointment.date|default_if_none:"" }} <br>
                Price: {{ appointment.haircut.price|default_if_none:"" }} <br>

                <form action="#" method="post"> {% csrf_token %}
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                    <input type="submit" value="Write a Review"/>
                </form>
                -------------------------------- <br>
            </ul>
        {% endfor %}
    </div>
    <div id="declined_appointments">
        <h1>Declined Appointments</h1>
        {% for appointment in declined_appointments %}
            <ul>
                -------------------------------- <br>
                Appointment Details: <br>
                Customer: {{ appointment.customer.get_full_name }} <br>
                Location: {{ appointment.location }} <br>
                Time: {{ appointment.date|default_if_none:"" }} <br>
                Price: {{ appointment.haircut.price|default_if_none:"" }} <br>

                <form action="{% url 'stylist:accept_appointment' %}" method="post"> {% csrf_token %}
                    <input type="submit" value="Accept"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <form action="{% url 'stylist:reschedule_appointment' %}" method="post"> {% csrf_token %}
                    <label for="date">Date: </label>
                    <input type="datetime-local" value="" name="date" id="date"/> <br>
                    <input type="submit" value="Reschedule"/>
                    <input type="hidden" name="appointment_pk" value="{{ appointment.pk }}"/>
                </form>
                <br>
                -------------------------------- <br>
            </ul>
        {% endfor %}
    </div>

    <div id="reviews">
        <h1>Customer Reviews</h1>
        <ul>
            <li>
                use loop etc. to create a list of all the reviews. Anonymous
            </li>
        </ul>
    </div>

    <div id="deal">
        <h1>My Deals</h1>
        <ul>
            <li>
                List of all Deals
            </li>
        </ul>
        Button to add another deal.
    </div>

    <div id="services">
        <h1>Change your services</h1>
        <ul>
            <li>
                List of your current services (store in the haircut model).
            </li>
        </ul>
    </div>
{% endblock %}