Haircut:<br>

<img src="{{ haircut.picture.url }}"/><br>
Price: {{ haircut.price }} <br>
Description: {{ haircut.description }} <br>
<hr>


<form action="{% url 'stylist:edit_portfoliohaircut' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <label for="picture">Picture: </label>
    <input id="picture" type="file" name="picture" value="{{ haircut.picture.url }}"/> <br> <br>

    <label for="name">Name: </label>
    <input id="name" type="text" name="name" value="{{ haircut.name|default_if_none:"" }}"/> <br> <br>

    <label for="description">Description: </label>
    <input type="text" id="description" name="description" value="{{ haircut.description|default_if_none:"" }}"> <br>
    <br>

    <label for="price">Price: </label>
    <input id="price" type="number" step=".01" min="0" name="price" value="{{ haircut.price|default_if_none:"" }}"/>
    <br> <br>

    Menu:<br>
    <hr>
    {% for stylist_option in stylist_options %}
        <input name="stylist_option_pk" type="radio" value="{{ stylist_option.pk }}">
        {{ stylist_option.name }} <br>
    {% endfor %}
    <input type="radio" name="stylist_option_pk" value="none"> None
    <br> <br>

    <input type="hidden" name="portfoliohaircut_pk" value="{{ haircut.pk }}"/>
    <input type="submit" name="Submit"/>
</form>