<form action="{% url 'stylist:upload_haircut' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <label for="picture">Picture: </label>
    <input id="picture" type="file" name="picture"/> <br> <br>

    <label for="name">Name: </label>
    <input id="name" type="text" name="name"/> <br> <br>

    <label for="description">Description: </label>
    <textarea id="description" name="description"></textarea> <br> <br>

    <label for="price">Price: </label>
    <input id="price" type="number" step=".01" min="0" name="price"/> <br> <br>

    Menu:<br>
    <hr>
    <label for="menu_main">Main: </label>
    {% for stylist_option in stylist_options %}
        {% if stylist_options %}
            <input name="stylist_option_pk" type="radio" value="{{ stylist_option.pk }}">
            {{ stylist_option.stylist_menu.name }} <br>
        {% else %}
            input name="stylist_option_pk" type="radio" value="{{ stylist_option.pk }}">
            {{ stylist_option.global_menu.name }} <br>
        {% endif %}
    {% endfor %}
    <input type="radio" name="stylist_option_pk" value="none"> None
    <br> <br>

    <input type="submit" name="Submit"/>
</form>