{% extends 'stylist/base.html' %}

{% block main_content %}
    <h1>The Current Bill</h1>
    <table>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    {% for item in bill %}
        <tr>
            <td>
                {{ item.item_portfolio.name|default_if_none:"" }} {{ item.item_custom|default_if_none:"" }}
            </td>
            <td>
                {{ item.price }}
            </td>
            <td>
                <form action="{% url 'stylist:delete_item' %}" method="post"> {% csrf_token %}
                    <input type="submit" value="Delete Item"/>
                    <input type="hidden" name="item_pk" value="{{ item.pk }}"/>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'stylist:add_item' %}">Add item to bill</a>
{% endblock %}