{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clippr</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Clippr CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/stylist_portfolio.css" %}">
</head>
<body>
<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <div class="bg-inverse p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="navLogoff" href="{% url 'core:logout' %}">Logoff</a>
            </li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <a class="navbar-brand text-right">Clippr</a>
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:logout' %}">Logoff</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% for portfolio_haircut in portfolio_haircuts %}
        <div class="card portfolio-card">
            <img class="card-img-top portfolio-image" src="{{ portfolio_haircut.picture.url }}"/>
            <div class="card-block">
                <p class="card-text"> {{ portfolio_haircut.name }}
                    Price: {{ portfolio_haircut.price }}
                    Descriptrion: {{ portfolio_haircut.description }}</p>
                <form action="{% url 'stylist:edit_portfoliohaircut' %}" method="get"> {% csrf_token %}
                    <input type="hidden" name="portfoliohaircut_pk" value="{{ portfolio_haircut.pk }}"/>
                    <input type="submit" value="Edit Haircut"/>
                </form>
                <form action="{% url 'stylist:delete_portfoliohaircut' %}" method="post"> {% csrf_token %}
                    <input type="submit" value="Delete Item"/>
                    <input type="hidden" name="portfolio_haircut_pk" value="{{ portfolio_haircut.pk }}"/>
                </form>
            </div>
        </div>
    {% endfor %}
    <hr>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

</body>
</html>