{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google" value="notranslate">
    <title>Clippr</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Clippr CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/stylist/stylist_portfolio.css" %}">
</head>

<body>

{% include 'stylist/stylistReal/headerBase.html' %}

<a href="{% url 'stylist:upload_portfoliohaircut' %}">Add Portfolio Haircut</a>

<div class="container">
    <div class="row">
        {% for portfolio_haircut in portfolio_haircuts %}
            <div class="col-lg-4 col-md-6 mb-3 mt-3 d-flex justify-content-center">
                <div class="card portfolio-card mr-md-3">
                    <div class="portfolio-image-sizing">
                        <img class="card-img-top portfolio-image" src="{{ portfolio_haircut.picture.url }}"/>
                    </div>
                    <div class="card-block">
                        <p class="card-text"> {{ portfolio_haircut.name }}
                            Price: {{ portfolio_haircut.price }}
                            Descriptrion: {{ portfolio_haircut.description }}</p>
                        <form action="{% url 'stylist:edit_portfoliohaircut' %}" method="get"> {% csrf_token %}
                            <input type="hidden" name="portfoliohaircut_pk" value="{{ portfolio_haircut.pk }}"/>
                            <input type="submit" value="Edit Haircut"/>
                        </form>
                        <form action="{% url 'stylist:delete_portfoliohaircut' %}" method="post"> {% csrf_token %}
                            <input type="submit" value="Delete Item"/>
                            <input type="hidden" name="portfolio_haircut_pk" value="{{ portfolio_haircut.pk }}"/>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<hr>

<!-- For popup image on click -->
{% include 'stylist/stylistReal/portfolio/portfolio_popup.html' %}


{% include 'stylist/stylistReal/footerBase.html' %}


{% include 'master_scripts.html' %}
<script src="{% static 'javascript/stylists/stylist_portfolio.js' %}"></script>

</body>