{% load staticfiles %}

<div class="card card-dashboard">
    <h4 class="card-header module-header">Your Menu</h4>
    <div class="card-block card-scroll">
        <a href="{% url 'stylist:select_menu_option' %}">Edit your menu</a> <br>
        Menu Options you've selected: <br>
        <hr>
        {% for stylist_option in stylist_options %}
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="menu-header card-header">
                        <h5 class="menu-option mb-0 d-flex justify-content-end" role="menu-{{ forloop.counter }}">
                            <a class="mr-auto">
                                {% if stylist_option.stylist_menu %}
                                    {{ stylist_option.stylist_menu.name }}<br>
                                    {{ stylist_option.stylist_menu.price }}
                                {% else %}
                                    {{ stylist_option.global_menu.name }}<br>
                                {% endif %}
                            </a>
                            <a>
                                {% if stylist_option.stylist_menu %}
                                    ${{ stylist_option.stylist_menu.price }}
                                {% else %}
                                    ${{ stylist_option.global_menu.price }}
                                {% endif %}
                            </a>
                        </h5>
                    </div>
                    <div id="menu-{{ forloop.counter }}" class="collapse">
                        <div class="card-block">
                            <!-- drop down content -->
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>no menu options chosen</p>
        {% endfor %}
    </div>
</div>