body {
    margin:0;
    padding:0;
}

#OuterCenter {
/* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;}

#InnerCenter {
    width: 50%;
}

.jumbotron {
    min-height:380px;
}

.collapse {
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeJumbotron {
    background-image: url("images/haircut2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 60% 10%;
    color: white;
}

#header {
    background-image: url("images/haircut2.jpg");
    -webkit-background-size:cover;
    background-size:cover;
    background-position: 20% 70%;
    display:block;
    width:100%;
    height:250px;
    margin: auto;
}
#logo {
    background-image: url("images/logoTransparent.png");
    -webkit-background-size:contain;
    background-size: contain;
    display: block;
    /*margin: 10px;*/
    width: 150px;
    height: 150px;
    float:left;
}

#headerLinks {
    float:right;
}
#navProfile {
    background-image: url("./images/profile-icon-9.png");
    -webkit-background-size: contain;
    background-size: contain;
    display: block;
    width: 50px;
    height: 50px;
}

#submit {
    color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.clearFloat {
    clear:both;
}

.noSpaces {
    font-size:0;
}

